   *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
   .header-child {
    position: absolute;
    top: 52px;
    left: 1420px;
    width: 28px;
    height: 25px;
   }  
  .contact-us,
  .login {
    position: absolute;
    top: 52px;
    left: 1130px;
    font-weight: 500;
    display: inline-block;
    width: 184px;
    height: 46px;
    font-size: 20px;
  }
  .contact-us,
  .home1 {
    position: absolute;
    top: 54px;
    left: 844px;
    font-weight: 500;
    display: inline-block;
    width: 184px;
    height: 46px;
    font-size: 20px;
  }
  .contact-us {
    top: 53px;
    left: 946px;
    width: 270px;
    height: 25px;
    font-size: 20px;
  }
  .tutor {
    position: absolute;
    top: 14px;
    left: -12px;
    font-size: 80px;
    font-family: var(--font-radley);
    align-items: center;
    justify-content: center;
    width: 417px;
    height: 147px;
    text-shadow: 0 4.036529541015625px 4.04px rgba(0, 0, 0, 0.25);
  }
  .header{
    position: absolute;
    top: -8px;
    left: 0;
    width: 1519px;
    height: 120px;
    background-color: #dc976f;
    font-weight: 500;
  }
  .search {
    position: absolute;
    top: 44px;
    left: 1250px;
    display: inline-block;
    width: 174px;
    height: 27px;
    font-size: 20px;
    font-weight: 500;
  }
  .frame-child {
    position: absolute;
    top: 180px;
    left: 150px;
    width: 1240px;
    height: 480px;
  
  }
  .empowering-education-discover {
    position: absolute;
    top: 125px;
    left: -200px;
    font-size: 32px;
    font-weight: 600;
    font-family: var(--font-dancing-script);
    display: inline-block;
    width: 1991px;
    height: 123px;
  }
  .header-parent {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fefdfd;
    width: 1519px;
    height: 900px;
    overflow: hidden;
  }
  .home {
    position: relative;
    width: 100%;
    height: 900px;
    text-align: center;
    font-size: 32.29px;
    color: var(--color-black);
    font-family: var(--font-poppins);
  }
  